<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <title>Document</title>
  </head>
  <style>
    nav{
        display: flex;
        flex-direction: row;
        margin-bottom: 100px;

    }
    nav a{
        margin: 10px;
    }
  </style>
  <body>

     <nav>
        <a href="/">Home</a>
        <a href="/create">Create</a>
    </nav>
    
    <form action="/submit" method="post" class="form-control col-sm">

      <div class="mb-4 col-sm"><input
          class="form-control"
          type="text"
          name="title"
          placeholder="title"
        /></div>
      <div class="mb-4 col-sm">

        <textarea
          class="form-control"
          name="description"
        ></textarea>
      </div>
      <input class="form-control btn-primary col-sm" type="submit" />
    </form>
  </body>
</html>